@tailwind base;
@tailwind components;
@tailwind utilities;

.user {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.herotext {
  text-align: center;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}
