.container {
  display: flex;
  align-items: center;
}
section {
  display: flex;
}
.logo {
  height: 50px;
  width: 55px;
}
.headersection {
  display: flex;
  justify-content: space-between;
  height: 9%;
  width: 100%;
  background-color: #ff914d;
  padding-right: 70px;
}

h1 {
  display: flex;
  text-align: center;
  align-items: center;
  color: #f0f8ff;
}
h4,
h5 {
  display: flex;
  text-align: center;
  color: #f0f8ff;
  margin: 0.5px;
}
nav {
  align-items: center;
  z-index: 1;
  display: flex;
  gap: 2rem;
  font-size: 15px;
}

nav a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: rgb(202, 197, 197);
}

@media (max-width: 1050px) {
  nav a {
    display: none;
  }
}
